// Large devices (desktops, less than 1200px)

@media (max-width: 1245.98px) {
  .banner-section {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1199.98px) {
  .banner-section {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    max-height: 100vh;
    // overflow-y: scroll;
  }

  .banner-section {
    img {
      width: 63%;
    }
  }
  .what-we-do-section {
    padding-top: 3rem;
    .left-sec {
      .left-inner:after {
        z-index: 0;
        left: -7rem;
      }
    }

    .pt-5 {
      padding-top: 1rem !important;
    }
    .mt-5 {
      margin-top: 1rem !important;
    }
  }

  .latest-works-section {
    .divider {
      height: 8rem;
    }
  }

  .navbar {
    .nav-item {
      a{
          &:hover {
            &::after {
              right: 0;
              margin: 0 0;
            }
          }

          &.active{
            &::after{
              content: "";
              position: absolute;
              width: 17px;
              height: 4px;
              background: #000;
              bottom: 0;
              
              left: 0;
              right: 0;
              margin: 0 0;
              
            }
          }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .latest-works-section {
    h3 {
      font-size: 2.125rem;
      line-height: 2.5rem;
    }
  }
}

@media (max-width: 480.98px) {
  .banner-section {
    padding-bottom: 0rem;

    .bnr-im-main {
      display: none;
    }

    .t-main {
      &::after {
        content: none;
      }
      &::before {
        content: none;
      }
      &.pb-6 {
        padding-bottom: 0rem;
      }

      .txt-area {
        text-align: center;

        h1 {
          font-size: 3rem;

          + .sub {
            font-size: 3rem;
            line-height: 3.2rem;
          }
        }
      }
    }
  }

  .what-we-do-section {
    .left-sec {
      .left-inner {
        padding-top: 0rem;
        &:before {
          content: none;
        }
      }
    }
  }
}
